.보더{
    background-image: url("https://chatgpt.com/backend-api/estuary/content?id=file_0000000031147207871e87ddd85213ae&ts=490932&p=fs&cid=1&sig=40c82bbd79e9cefbaf483c24f6483158a0a1793ffcc414a9b89459210ca84afd&v=0");

width:99vw;
height:99vh;
}