.배경{
    font-size: 50px;
    background-color: rgba(14, 13, 13, 0.616);

    width:100vw;
    height:15vh;
    letter-spacing: 5px;
    display: inline-block;
    text-align: center;
}
.배경:hover{
    background-color: white;
}
.실습{
    margin-top: 20px;
    margin-right: 150px;
}
.실습1{
    font-size: 30px;
    margin-top:30px;
    
    display: inline-block;
    
}
.실습2,.실습3{
    text-align: center;
    vertical-align: top;
}
.실습2{
    /* border:1px solid red; */
    display: inline-block;
     margin-left: 350px;
}

.실습3{
    /* border:1px solid red; */
     display: inline-block;
     margin-left:50px
}
.실습4{
    display:none;
}
.배경:hover + .실습4{
    background-color: rgba(0, 255, 255, 0.404);
    /* display: inline-block; */
    width:99vw;
}
