        div.first {
            border: 1px solid red;

            width: 150px;
            height: 200px;
        }
        div.second {
            /* border: 1px solid red; */

            width: 150px;
            height: 200px;
            
            margin-top: 50px;
            margin-right: 40px;
            margin-bottom: 30px;
            margin-left: 20px;

            /* margin 축약형 */
            /* 4개 일 때 : top, rigth, bottom, left 로 시계방향으로 먼저 적용 */
            margin: 50px 40px 30px 20px;
            /* 3개 일 때 top, 좌우, bottom */
            margin: 50px 30px 20px;
            /* 2개 일 때 : 위아래, 좌우 */
            margin: 50px 30px;
            /* 1개 일 때 : 상하좌우 */
            margin: 30px;
            
            padding-top: 20px;
            padding-right: 15px;
            padding-bottom: 10px;
            padding-left: 5px;

            padding: 30px;
            /* 테두리 */
            border-top-width: 3px;
            border-top-style: dotted; 
            border-top-color: blue;

            border-right: 2px dashed green;

            border: 1px solid red;

            /* 둥글게 */
            border-radius: 10px;

        }

        .profile img {
            border: 1px solid black;

            width: 200px;

            border-radius: 50%;
        }

        .chat-right {
            border: 1px solid black;
            background-color: yellow;

            width: 100px;
            padding: 5px;
            margin: 10px;

            text-align: center;

            border-radius: 10px 0 10px 10px;
        }
        .chat-right1 {
            border: 1px solid black;
            background-color: yellow;

            width: 100px;
            padding: 5px;
            margin: 10px;

            text-align: center;

            border-radius: 10px 0 10px 10px;
        }
        .width{
            border: 1px solid red;
            width: 70%;
            /* 최소너비 최대너비 */
            min-width: 500px;
            max-width: 600px;
        }
        #auto {
            border: 1px solid red;
            width: 100px;

            margin: 0 auto;
        }
        /* 
            마진 중첩
            세호방향으로 붙어 있을 때 또는 부모와 첫번째 자식 간에
            margin이 더해 지지 않고 큰 값 하나만 적용되는 현상
            
            해법
            border, padding 등 적용
            컨텐츠 적기
            부모의 overflow: hidden 주기
            */
        #div1, #div2, #div3{
            /* border: 1px solid red; */
        }
        #div2, #div3{
            margin: 30px;
                }
        #div3 {
            margin: 50px;
        }
        #div1{
            margin:10px;
            /* padding: 10px */
            overflow: hidden
        }
        #div2 {
            /* margin-top: -1px; */
        }
        body {
            margin: 0px;
        }
        .box {
            border: 10px solid red;
            width: 300px;
            height: 300px;
            margin: 50px;
        }
        .box-sizing {
            padding: 50px;

            box-sizing: border-box;
        }