.box{
    border: 1px solid red;
    height:100px;
    width:100px;
    background-color:green;
    margin:10px;
    color: white;
}
.translate{
    /* transform: translate(10px, 20px); */
    transform: translate(50%, 50%);
}
/* 보이는 크기를 키우는 것 x.y 선택 가능 1이 100% */
.scale{
    /* transform: scalex(1.3); */
    /* transform: scaley(1.3); */
    transform: scale(1.3);
}
/* 각도 음수는 반시계 양수는 시계방향 */
.rotate{
    transform:rotate(50deg);
}
/* 잘안씀 */
.skew{
    transform:skew(10deg, -30deg);
}
.total{
    transform:translate(50%, 50%) scale(1.3) rotate(-45deg);
}
/* 정중앙 정렬 하는법  */
.parent{
    width:30%;
    height:30vh;
    border: 1px solid red;

    position:relative;
}
.child{
    width:30%;
    height:30%;
    border: 1px solid blue;

    position:absolute;
    top:50%;
    left:50%;

    transform: translate(-50%, -50%)
}   /* 여기까지 */

.box{
    /* 모양이 천천히 바뀜 */
    /* transition:all 1s; */
    /* transition:width 1s; */
}
.box:hover{
    transition:all 0.5s;
    width:200px;
    background-color: red;
    border-radius: 20px;
}
.box2{
    border: 1px solid red;
    height:50vh;
    /* 색깔 그라데이션 주는법 */
    /* 방향 or 각도deg, 색상(색,거리%), 색상(색,거리%) */
    background-image: linear-gradient( 135deg, skyblue 20% 50%, green 80%, red 100%);
}